<h1>Recuperación de contraseña</h1>

{{#unless deprecate}}
<h2>El link de recuperación ha expirado</h2>
{{/unless}}

{{#if deprecate}}

<form id="recoverPassword" userId="{{uid}}">

    <label for="password">Ingrese su nueva contraseña:</label>
    <input type="password" name="password" placeholder="Nueva contraseña" />

    <label for="rePassword">Contraseña:</label>
    <input type="password" name="rePassword" placeholder="Confire la contraseña" />

    <button type="submit">Cambiar</button>

</form>

{{/if}}

<div class="buttonsProfile">
    <form action="/home">
        <button type="submit">Home</button>
    </form>
</div>

<form action="/auth/login">
    <button type="submit">Iniciar Sesión</button>
</form>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/recover-password.js"></script>