<h1>E-Mail verificado con éxito.</h1>

<h4>Ya puedes comprar en nuestra tienda {{first_name}} {{last_name}}!!</h4>

<form action="/products" method="get">
    <button type="submit">productos</button>
</form>