<h1>E-Mail verificado con éxito.</h1>

<h2>Ya puedes comprar en nuestra tienda {{first_name}} {{last_name}}!!</h2>

<form action="/api/products" method="get">
    <button type="submit">productos</button>
</form>